html,
body {
    height: 100%;
    font-family: "Lato", sans-serif !important;
}

.rounded-sm {
    border-radius: 2px;
}

.rounded {
    border-radius: 4px;
}

.rounded-md {
    border-radius: 6px;
}

.rounded-lg {
    border-radius: 8px;
}

.rounded-xl {
    border-radius: 12px;
}

.auth_form {
    overflow: hidden;
}

.auth_img {
    background-image: url("images/auth-img.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main_heading {
    font-size: 45px;
    line-height: 30px;
    font-weight: 400;
}

.purple {
    color: purple;
}

.orange {
    color: orange;
}

.aquamarine {
    color: aquamarine;
}

.heading h2 {
    font-size: 24px;
    height: 28px;
    font-weight: 600;
    color: #ae446a;
}

.heading p {
    font-size: 12px;
    height: 14px;
    color: #909090;
}

.input_text {
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
    padding-bottom: 8px;
    padding-left: 0;
}

.input_icon {
    position: absolute;
    right: 0;
    margin-top: 39px;
    width: 18px;
    background: #fff;
}

.purple_btn button {
    border: none;
    color: white;
    border-radius: 40px;
    font-size: 15px;
    background: linear-gradient(34.89deg, #4B2779 8%, #BE2475 83.76%);
    font-weight: 400;
    padding: 3px 33px 5.5px 33px;
    line-height: 32px;
    text-align: center;
}

button.purple_btn {
    border: 0;
}

.divider {
    position: relative;
}

.divider::before,
.divider::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 43%;
    height: 1px;
    background-color: #BDBDBD;
}

.divider::before {
    right: 54%;
    margin-right: 10px;
}

.divider::after {
    left: 54%;
    margin-left: 10px;
}

.google_btn {
    background: transparent;
    padding: 8px 39px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #6F6F6F;
    border: 1px solid #656565;
}

p.divider {
    color: #BDBDBD;
}

.google_icon {
    width: 16px;
    height: 16px;
}

.login_width a {
    text-decoration: none;
}

.blue_btn button {
    border-radius: 40px;
    font-size: 15px;
    background: linear-gradient(2.17deg, #327192 30.94%, #0C3873 69.79%);
    font-weight: 400;
    padding: 3px 33px 5.5px 33px;
    line-height: 32px;
    text-align: center;
    border: 0px;
}

.blue_btn a {
    border-radius: 40px;
    font-size: 18px;
    background: linear-gradient(2.17deg, #327192 30.94%, #0C3873 69.79%);
    font-weight: 400;
    padding: 3px 33px 5.5px 33px;
    line-height: 32px;
    text-align: center;
}

.bluegradian_bg {
    background: linear-gradient(2.17deg, #327192 30.94%, #0C3873 69.79%);
    color: #fff;
    border: 0;
    padding: 4px 33px 4.5px 33px;
    line-height: 32px;
}

.input_select {
    border: none;
    border-bottom: 1px solid lightgray;
    padding-left: 0;
}

.inherit {
    color: inherit;
}

.text-xs {
    font-size: 12px;
    line-height: 16px;
}

.text-sm {
    font-size: 14px;
    line-height: 20px;
}

.text-base {
    font-size: 16px;
    line-height: 24px;
}

.text-lg {
    font-size: 18px;
    line-height: 28apx;
}

.search_input input {
    width: 300px;
    background: #eeeeee;
    padding: 10px 20px;
    border-radius: 15px 0 0 15px;
    border: none;
}

.search_input button {
    background: linear-gradient(90deg,
            rgb(148 75 160) 6%,
            rgba(207, 20, 146, 1) 100%);
    padding: 10px 20px;
    border-radius: 0 15px 15px 0;
    color: white;
    border: none;
}

.profile {
    background: white;
    border-radius: 25px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile .avatar {
    margin-top: -30px;
    width: 87px;
    height: 87px;
    border-radius: 100%;
}

.candidates {
    background: linear-gradient(177deg,
            rgba(58, 60, 121, 1) 27%,
            rgba(20, 152, 207, 1) 100%);
    border-radius: 25px;
    padding: 25px;
    color: white;
}

.candidates ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.candidates ul li img {
    width: 42px;
    height: 42px;
    border-radius: 100%;
}

.post_form {
    display: flex;
    gap: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: white;
    padding: 25px;
    border-radius: 25px;
}

.post_form .input {
    position: relative;
}

.post_form input {
    width: 100%;
    padding: 7px 25px;
    border-radius: 25px;
    background: #dfdfdfcc;
    border: none;
}

.post_form .emoji {
    position: absolute;
    top: 9px;
    right: 9px;
}

.post_form .media button {
    background: transparent;
    border: none;
}

.post {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: white;
    padding: 25px;
    border-radius: 25px;
}

.post .fa-ellipsis-vertical {
    cursor: pointer;
}

.comment_input {
    width: 100%;
    padding: 10px 25px;
    border-radius: 25px;
    background: #eeeeee;
    border: none;
    border: 0 !important;
}

.activity {
    border-radius: 25px;
    padding: 25px;
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.activity ul li img {
    width: 42px;
    height: 42px;
    border-radius: 100%;
}

.left_sidebar {
    position: fixed;
    height: 100%;
    width: 280px;
    overflow-y: auto;
}

.left_sidebar::-webkit-scrollbar {
    width: 0;
    /* This will hide the scrollbar track */
}





.right_sidebar {
    position: fixed;
    height: 100%;
    width: 280px;
    overflow-y: auto;
}

.right_sidebar::-webkit-scrollbar {
    width: 0;
    /* This will hide the scrollbar track */
}

.header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}

.profile_tabs li {
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
}

.profile_tabs li:last-child {
    border-bottom: none;
}

.profile_tabs .active {
    color: #ae446a;
}

.about_headers {
    background-image: url("/images/about-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.a_m_h {
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
}

.a_c_h {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #ae446a;
}

.p_color {
    color: #656565;
}

.h_m_h {
    font-size: 48px;
    font-weight: 400;
    line-height: 57px;
}

.h_input {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.notification_modal {
    padding: 40px;
    background: #F2F2F2;
    border-radius: 20px;
}

.notification_modal .count_label {
    width: 20px;
    height: 20px;
    background: #842577;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: white;
}

.notification_modal .item {
    background: #FFFFFF;
    padding: 15px;
    border-radius: 7px;
    color: #7A7878;

}

.notification_modal .dot {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #842577;
    margin-bottom: 0;
}

.notification_modal .username {
    color: black;
    font-weight: 500;
}

.login_width {
    width: 440px;
}

.login_logo {
    position: absolute;
    width: 100%;
    margin-left: 50px;
}

body {
    overflow-x: hidden;
}

.post .action {
    position: relative;
    width: 30px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.post .action:hover {
    background-color: rgba(211, 211, 211, 0.77);
}

.post .dropdown_wrapper {
    position: absolute;
    width: 130px;
    background: white;
    right: 38px;
    top: 6px;
    display: none;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.post .dropdown_wrapper.show {
    display: flex;
}

.post .dropdown_wrapper button {
    background-color: lightgray;
    border-radius: 5px;
    border: none;
}

.font-size18 {
    font-size: 18px;
    line-height: 30px;
}

.font-size40 {
    font-size: 40px;
}

/*.register_image {*/
/*    height: 100vh;*/
/*    object-fit: cover;*/
/*    object-position: left;*/
/*}*/
.register_width {
    width: 670px;
}

img.prroceed_icons {
    width: 85px;
}

button.btn-close {
    position: absolute;
    right: 3px;
    top: 3px;
}

.mt80 {
    margin-top: 80px;
}

.form-control:focus {
    border-color: #ccc !important;
    outline: 0;
    box-shadow: none !important;
}

.form-control {
    border: 0 !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0 !important;
    padding: 0 !important;
    font-weight: 500 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    color: #656565 !important;
}

label.form-label {
    font-size: 15px;
    font-weight: 400;
    color: #6F6F6F;
}

input::placeholder {
    font-size: 16px !important;
    font-weight: 500;
    color: #656565 !important;
}

label.error {
    color: #f00;
}

label.form-check-label {
    color: #656565 !important;

}

form#login-form p {
    color: #656565 !important;
    font-weight: 500;
    position: relative;
    top: 6px;

}

.fs-16 {
    font-size: 16px !important;
    height: auto !important;
    color: #909090;
    padding-bottom: 10px;
}

.register_width p {
    color: #656565 !important;
    font-weight: 500;
    position: relative;
    top: 6px;

}

.register_width p a {
    font-weight: 600;
    color: #901D56;
}

.form-select {
    background-image: url(/assets/images/arrow_dropdown.png) !important;
    background-size: 4% !important;
}

form#login-info {
    width: 440px;
}

a.pdf_view {
    position: absolute;
    float: right;
    color: #AE446A;
    font-size: 14px;
    left: 94px;
    margin-top: 2px;
}

.skills-info-first {
    width: 440px;
}

.after_login button {
    font-weight: 700 !important;
    padding: 3px 20px 3px 20px !important;
    line-height: 24px !important;
    font-size: 12px !important;
}

.login_user span {
    color: #9B9B9B;
    position: relative;
    top: 1px;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.email_icon {
    background-image: url(/assets/images/email.png) !important;
    background-size: 4% !important;
    background-repeat: no-repeat;
    background-position: right .75rem center;
}

.password_icon {
    background-image: url(/assets/images/key.png) !important;
    background-size: 4% !important;
    background-repeat: no-repeat;
    background-position: right .75rem center;
}